<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <title>QuizApp</title>
  </head>
  <main role="main" class="cntainer">
    <body>
        <h1 id = "title">ようこそ</h1>
        <div id="mondai">
        <p id="genre" style="display: none;"></p>
        <p id="level" style="display: none;"></p>
      </div>
        <hr>
        <p id="textline">開始ボタンをクリックしてください。</p>
        <hr>
        <div id="selectquiz">
          <input type="button" value="開始" id ="startbutton" style="display: block;" onclick = "startQuiz('http://localhost:3000/qanda')">
          <input type="button" value="" id ="answer1" style="display: none;" onclick = "">
          <input type="button" value="" id ="answer2" style="display: none;" onclick = "">
          <input type="button" value="" id ="answer3" style="display: none;" onclick = "">
          <input type="button" value="" id ="answer4" style="display: none;" onclick = "">
          <input type="button" value="HOME" id ="gohome" style="display: none;" onclick = "">
        </div>
        <script language="javascript" type="text/javascript" src="../public/index.js"></script>
    </body>
  </main>
</html>